<div class="library">
  <div class="library__container">
    <h2 class="library__title">Ваши кроссворды</h2>
    <div class="library__content">
      <div
        class="library__card"
        *ngFor="let crossword of paginatedCrosswords[currentPage]"
      >
        <button
          class="library__card-delete-button"
          (click)="deleteCrosswordFromLibrary(crossword.id)"
        >
          X
        </button>
        <h3 class="library__card-title">{{ crossword.title }}</h3>
        <img
          src="logo.svg"
          alt="Crossword Image"
          (click)="playCrossword(crossword.id)"
          class="library__card-image"
        />
      </div>
    </div>
    <div class="library__pagination">
      <button
        *ngFor="let page of totalPages; let i = index"
        class="library__pagination-button"
        [class.active]="i === currentPage"
        (click)="goToPage(i)"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
  <app-notification></app-notification>
</div>
