<div class="content">
  <div class="header-container">
    <h2>Ручное создание кроссворда</h2>
  </div>

  <div class="grid">
    <div class="grid-container">
      <div>
        <h3>Сетка</h3>
        <div *ngFor="let row of grid; let rowIndex = index" class="grid-row">
          <div
            *ngFor="let cell of row; let colIndex = index"
            class="grid-cell"
            [class.selected]="isSelectedCell(rowIndex, colIndex)"
            (mousedown)="startSelection(rowIndex, colIndex)"
            (mouseover)="continueSelection(rowIndex, colIndex)"
            (mouseup)="endSelection()"
          >
            {{ cell }}
          </div>
        </div>
      </div>

    </div>
    <div>
      <h3>Слова в кроссворде</h3>

      <!-- Перебираем "непроставленные" слова (т. е. у которых word === '') -->
      <div *ngFor="let wordObj of selectedWords" class="selected-word-row">
        <button
          type="button"
          class="remove-button"
          (click)="removeSelectedWord(wordObj)"
        >
          X
        </button>

        <select
          title="noTitle"
          class="select"
          [(ngModel)]="wordObj.word"
          (change)="selectWord($event, wordObj)"
        >
          <option value="">Выберите слово</option>
          <option
            *ngFor="let w of filterWords(wordObj.cells, wordObj)"
            [value]="w.word"
          >
            {{ w.word }}
          </option>
        </select>
      </div>

      <!-- Сообщение об ошибке -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="save-button" (click)="saveCrossword()">
      Создать кроссворд
    </button>
  </div>
</div>
<app-notification></app-notification>
