.content {
  height: 100%;
  min-height: 95vh;
}


.header-container {
  background-color: white;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid-container {
  margin-right: 30px;
  padding: 5px;
  box-shadow: 0 4px 8px #ccc;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 60px;
  height: 60px;
  /* Можно сразу сделать position: relative
     но мы тут вложим .cell-content с relative */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  font-size: 28px;
  text-align: center;
  line-height: 30px;
  -webkit-user-select: none;
  user-select: none;
}

.grid-cell:hover {
  background-color: lightgrey;
}

.grid-cell.selected {
  background-color: #ddd;
}


.error-message {
  color: red;
}

.selected-cell {
  background-color: lightgray; 
}

.save-button {
  width: 150px;
  height: 50px;
}

.button-container {
  background-color: white;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

.select {
  width: 250px;
  height: 40px;
}