<div class="about">
  <div class="about__container">
    <h1 class="about__title">О нас</h1>

    <section class="about__section">
        <h1>Самарский университет</h1>
      <h2>Институт информатики и кибернетики</h2>
      <h2>Кафедра программных систем</h2>
      <h3>Курсовой проект по дисциплине Программная инженерия</h3>
      <h4>Тема проекта: «Разработка автоматизированной системы составления и решения классического кроссворда»</h4>
      <h4>Разработчики:</h4>
      <p>обучающийся Матвеев Виктор Дмитриевич гр. 6401-020302D</p>
      <p>обучающийся Романова Анастасия Алексеевна гр. 6401-020302D</p>
      <p>обучающийся Титов Артем Сергеевич гр. 6401-020302D</p>
      </section>
  </div>
</div>
