.crossword-params {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f5f5dc; /* Бежевый цвет фона */
  padding: 20px;
  box-sizing: border-box;
}

.crossword-params__container {
  display: flex;
  flex-wrap: wrap;
  background-color: #8b4513; /* Темно-коричневый цвет фона */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.375rem;
}

.crossword-params__back-button {
  padding: 15px 15px;
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff; /* Темно-коричневый цвет текста */
}

.crossword-params__title {
  color: #ffffff; /* Белый цвет текста */
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.crossword-params__form {
  padding: 20px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crossword-params__field {
  margin-bottom: 15px;
  width: 100%;
}

.crossword-params__label {
  color: #ffffff; /* Белый цвет текста */
  display: block;
  margin-bottom: 5px;
}

.crossword-params__input,
.crossword-params__select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.crossword-params__radio-label {
  color: #ffffff; /* Белый цвет текста */
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.crossword-params__radio-input {
  margin-right: 5px;
}

.crossword-params__submit-button {
  background-color: #d2b48c; /* Цвет загара */
  color: #8b4513; /* Темно-коричневый цвет текста */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.crossword-params__submit-button:hover {
  background-color: #c0a16b; /* Более темный цвет загара при наведении */
}

.crossword-params__error {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}
