<div class="register">
  <form
    class="register__form"
    (ngSubmit)="onSubmit(registerForm)"
    #registerForm="ngForm"
  >
    <h2 class="register__title">Регистрация</h2>

    <!-- Поле для никнейма -->
    <div class="register__field">
      <label for="nickname" class="register__label">Никнейм</label>
      <input
        placeholder="Введите ваш никнейм"
        type="text"
        id="nickname"
        name="nickname"
        [(ngModel)]="user.nickname"
        required
        minlength="2"
        #nickname="ngModel"
        class="register__input"
        [class.invalid]="nickname.invalid && (nickname.dirty || nickname.touched)"
      />
      <div
        *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)"
        class="register__field__error"
      >
        <p class="register__field__small-text" *ngIf="nickname.errors?.['required']">
          Никнейм обязателен.
        </p>
        <p class="register__field__small-text" *ngIf="nickname.errors?.['minlength']">
          Никнейм должен иметь длину не менее 2 символов.
        </p>
      </div>
    </div>

    <!-- Поле для пароля -->
    <div class="register__field">
      <label for="password" class="register__label">Пароль</label>
      <input
        placeholder="Введите ваш пароль"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
        #password="ngModel"
        class="register__input"
        [class.invalid]="password.invalid && (password.dirty || password.touched)"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="register__field__error"
      >
        <p class="register__field__small-text" *ngIf="password.errors?.['required']">
          Пароль обязателен.
        </p>
        <p class="register__field__small-text" *ngIf="password.errors?.['minlength']">
          Пароль должен иметь длину не менее 6 символов.
        </p>
      </div>
    </div>

    <!-- Поле подтверждения пароля -->
    <div class="register__field">
      <label for="confirm-password" class="register__label">Подтвердите пароль</label>
      <input
        placeholder="Подтвердите ваш пароль"
        type="password"
        id="confirm-password"
        name="confirmPassword"
        [(ngModel)]="user.confirmPassword"
        required
        #confirmPassword="ngModel"
        class="register__input"
        [class.invalid]="
          (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) ||
          (user.password !== user.confirmPassword && confirmPassword.touched)
        "
      />
      <div
        *ngIf="
          confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) ||
          (user.password !== user.confirmPassword && confirmPassword.touched)
        "
        class="register__field__error"
      >
        <!-- Сообщение об обязательности ввода -->
        <p class="register__field__small-text" *ngIf="confirmPassword.errors?.['required']">
          Подтверждение пароля обязательно.
        </p>
        <!-- Сообщение о несовпадении паролей -->
        <p
          class="register__field__small-text"
          *ngIf="user.password !== user.confirmPassword && confirmPassword.touched"
        >
          Пароли не совпадают.
        </p>
      </div>
    </div>
    

    <button type="submit" class="register__button" [disabled]="registerForm.invalid">
      Зарегистрироваться
    </button>
    <div class="register__links">
      <a routerLink="/auth/login" class="register__link">Уже есть аккаунт? Войти</a>
    </div>
  </form>
</div>

<app-notification></app-notification>