<nav class="navbar">
  <div class="navbar__brand">
    <div class="navbar__brand-content">
      <img class="navbar__logo" src="logo.svg" alt="App Logo" />
      <span>Классические кроссворды</span>
    </div>
  </div>
  <div class="navbar__buttons">
    <button
      routerLink="auth/login"
      routerLinkActive="navbar__button--active"
      class="navbar__button navbar__button--login"
      *ngIf="!isAuthenticated"
    >
      Войти
    </button>
    <button
      routerLink="auth/register"
      routerLinkActive="navbar__button--active"
      class="navbar__button navbar__button--register"
      *ngIf="!isAuthenticated"
    >
      Зарегистрироваться
    </button>
    <button
      routerLink="crosswords/library"
      routerLinkActive="navbar__button--active"
      class="navbar__button navbar__button--register"
      *ngIf="isAuthenticated"
    >
      Все кроссворды
    </button>
    <button
      routerLink="crosswords/user/library"
      routerLinkActive="navbar__button--active"
      class="navbar__button navbar__button--register"
      *ngIf="isAuthenticated && !isAdmin"
    >
      Мои кроссворды
    </button>
    <button
      routerLink="crosswords/dictionary-list"
      routerLinkActive="navbar__button--active"
      class="navbar__button navbar__button--register"
      *ngIf="isAuthenticated && isAdmin"
    >
      Словари
    </button>
    <button
      class="navbar__button navbar__button--register"
      *ngIf="isAuthenticated"
      (click)="onLogout()"
    >
      Выйти
    </button>
  </div>
</nav>
