.content {
  height: 100%;
  min-height: 95vh;
}

.title {
  margin-left: 280px;
}

.completion-message {
  color: green;
  font-weight: bold;
  margin-left: 10px;
}

.grid {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid-container {
  margin-right: 30px;
  padding-right: 5px;
  box-shadow: 0 4px 8px #ccc;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 60px;
  height: 60px;
  /* Можно сразу сделать position: relative
     но мы тут вложим .cell-content с relative */
  display: flex;
}

/* Вспомогательный блок, чтобы удобно позиционировать clue-number */
.cell-content {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

/* Номер (подсказка) в левом верхнем углу */
.clue-number {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 10px;
  color: #000;
}

/* Для заблокированных (пустых) клеток */
.blocked-cell {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

/* Инпут для букв */
.cell-input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  border: 1px solid #ccc; /* Граница */
  background-color: #ffffff;
}

.cell-input:hover {
  background-color: #e0e0e0;
}

.cell-input:disabled {
  background-color: #faebd7 !important; /* Серый фон */
  color: #ffffff; /* Цвет текста */
  border: 1px solid #ccc; /* Граница */
  cursor: not-allowed; /* Курсор "запрещено" */
}

/* Зачёркнутое слово, если решено */
.solved {
  text-decoration: line-through;
  color: #888;
}

/* Кнопка сохранения */
.save-button {
  margin-top: 180px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 150px;
  font-size: 16px;
}

/* Контейнер для кнопки */
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
